{% extends 'index.html'%}

{% block head %}
<title>People Counter - Room Setup</title>

<!-- insert cam id into remove modal -->
<script>
$(document).ready(function(){
    $('#remove-room-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var room_id = button.data('roomid')
      var modal = $(this)
      modal.find('.modal-body').html('Are you sure you want to permanentely remove room ' + room_id + '?<br>' +
          'Note that all cameras assigned to this room will be deleted as well.')
      modal.find('.modal-footer form').attr('action', 'setup-rooms/remove-room-' + room_id)
    });
});
</script>

{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-centered border bg-light p-3 mt-3">

        <h4>Rooms</h4>

        {% if rooms %}
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for room in rooms %}
                        <li href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Room {{ room.id }} - {{ room.name }} - {{ room.description }}
                            <span>
                                <a href="{{ url_for('edit_room', room_id=room.id) }}" type="button" class="btn btn-secondary py-0 px-2">Edit</a>
                                <button type="button" class="btn btn-danger py-0 px-2" data-toggle="modal" data-target="#remove-room-modal" data-roomid="{{ room.id }}">Remove</button>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">You have not configured any rooms yet.</div>
        {% endif %}

        <!-- Add Button -->
        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#add-room-modal">New room</button>

        <!-- Add Room Modal -->
        <div class="modal fade" id="add-room-modal" tabindex="-1" role="dialog" aria-labelledby="add-room-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="add-room-modal-label">New room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form id="room-form" method="POST" action="" novalidate>
                  {{ new_room_form.hidden_tag() }}
                  <div class="form-group">
                    {{ new_room_form.name.label }}
                    {{ new_room_form.name(class="form-control") }}
                    {% if new_room_form.name.errors %}
                        <script>$('#add-room-modal').modal('show')</script>
                        {% for error in new_room_form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    {% endif %}
                  </div>
                  <div class="form-group">
                    {{ new_room_form.description.label }}
                    {{ new_room_form.description(class="form-control") }}
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                {{ new_room_form.submit(form="room-form", class="btn btn-primary") }}
              </div>
            </div>
          </div>
        </div>

        <!-- Remove room Modal -->
        <div class="modal fade" id="remove-room-modal" tabindex="-1" role="dialog" aria-labelledby="remove-room-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="remove-room-modal-label">Remove room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <form method="POST" action="">
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

{% if edit %}
<script>$('#add-room-modal').modal('show')</script>
{% endif %}

{% endblock %}
